body {
    text-align: center;
    /*font pour tout (fait plus beau)*/
    font-family:Pirate;
    }
    
h1{
    font-size: 30px;
}    
    
    
h2 {
    margin: 0 auto;
    font-size: 50px;
    margin: 10px;
}
    
    
.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */

    font-family:Pirate; 
    /*font pour X & O*/
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* tells the container to drop down once it reaches max-width */

    font-family:Pirate;
    /*font pour X & O*/
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
    
    
.square {
    border: 2px solid rgba(0, 0, 0, 0.75);
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    
#reset-button {
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    height: 55px;
    width: 100px;
    margin: 10px;
}

#lien { 
    text-align:left; 
    align-self: center;
    font: size 15px;
}
#nom {
    text-align: center;
    font-size: 50px;
}
footer {
    background-color:rgb(157, 0, 0);
    border: 10px solid black;

 }


    


/*position de limage*/
.img-container{
    display: flex;
   flex-direction: row-reverse;
   align-items: center ;
}

/*pour rendre ronde*/
img{
    border-radius: 50%;
}

/* les web fonts dans note de cours*/
@font-face {
    font-family: "Pirate";
    src: url(xbones.ttf);
}
    
#ScoreX{ 
    font-size: 70px;
   /*visibilite/espace autour*/ 
   display: block; 
   color: blue;
} 

#ScoreO{ 
    font-size: 70px;   
   display: block; 
   color: chartreuse;
   
   
} 

/*agrandir Font x et o https://stackoverflow.com/questions/2599627/how-to-select-label-for-xyz-in-css*/
label[for=X] {
    font-size: 80px;
}

label[for=O] {
    font-size: 80px;
}
/*
essaie de changer mon footer
#footer{ 
    
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;


}
*/



/* changer bouton*/
#Moins{
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;
}
#RemettreAzero{

    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}
#Ajouter{
    
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}
#MoinsO{    background-color: rgb(255, 255, 255); /* Green */
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}

#RemettreAzeroO{
    background-color: rgb(255, 255, 255); /* Green */
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}
#AjouterO{
    background-color: rgb(255, 255, 255); /* Green */
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}